:root{
  --color-layer: #fff;
  --color-scrollbar: #EEEEEEBB;
  --color-scrollbar-active: #CCCCCCBB;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-layer: #0B0C11;
    --color-scrollbar: #333333BB;
    --color-scrollbar-active: #444444BB;
  }
}

html{
  font-size: 4px;
  scroll-behavior: smooth;
}

body{
  font-size: 16px;
  background-color: var(--color-layer);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-active);
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
